extend layout.pug

block main
    h2= title
    <img id="image" src="/img/me.jpg">
    p Jag heter Emil Mattsson och är heltidsstudent på Blekinge Tekniska Högskola. När jag inte studerar eller kodar spenderar jag tiden med att umgås med familj, läsa böcker eller någon hobby, helst något utmanande som får en att känna sig lite dum. För det mesta händer det att jag plockar upp något inom teknikens värld och som jag kan jobba med en längre stund. Allra bäst är det när en hobby utmanar mig som person.
    

