extend layout.pug

block main
    h2= title
    include:markdown-it ../static/content/kmom01.md
    include:markdown-it ../static/content/kmom02.md
    include:markdown-it ../static/content/kmom03.md
    include:markdown-it ../static/content/kmom04.md
    include:markdown-it ../static/content/kmom05.md
    include:markdown-it ../static/content/kmom06.md
    include:markdown-it ../static/content/kmom07.md

